/* <삼승 CEAS SCSS 스타일러 - '메인 페이지' 스타일링> */
//   - 설명: '메인 페이지' 스타일링

// 1. smoothAppear - 부드럽게 글자가 나타나도록 표시
      /* keyframes 쿼리란? */
      /* -> 'CSS 애니메이션'에서 '구간'을 정하고, 각 구간별로 어떤 스타일을 적용시킬지 설정 */

      /* keyframes 형식에 대한 이해 */
      /* -> from ~ to(스테이지): '0에서 100%'까지의 구간 */ 

@keyframes smoothAppear {         
    /* from: 0% 구간 */             
    from {
      opacity: 0;                           // opacity: '불투명도' 설정
      transform: translate3d(0, -100%, 0);  // transform: '부드러운 이동 효과' 설정, translate3d: 'x축, y축, z축 방향'으로 이동
    }

    /* to: 100% 구간 */
    to {
      opacity: 1;                           // opacity: '불투명도' 설정
      transform: translateZ(0);             // transform: translateZ: '현재 위치'부터 'z축 방향'으로 이동
    }
  }

  // 1-1. main-wrapper: '메인 페이지 전체'를 감싸는 부분
  .main-wrapper{                
    box-sizing: content-box;
    width: 1000px;
    height: 500px;

    margin-top: -600px;
    margin-left: 300px;     

    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;

    // 1-1-1. main-title: '메인 페이지'의 '환영 인사' 
    .main-title{                               
      opacity: 0;
      animation: smoothAppear 1s forwards;
      animation-delay: 0.5s;

      margin: 15px 0;

      font-size: 2.4rem;
      font-weight: bold;
      color: midnightblue;
      
      // 1-1-1-1. span - '메인 페이지'의 '<span>'
      span{                                    
        font-size: 2.7rem;
        font-family: '맑은 고딕', cursive;
      }
    }

    .main_image{
      box-sizing: content-box;
      width: 100px;
      height: 100px;

      opacity: 0;
      animation: smoothAppear 1s forwards;
      animation-delay: 1s;
    
      border-radius: 0.5rem;

      margin-left: -30px;
    
      img{
        width: 130px;
        height: 130px;
    
        margin-top: 10px;
    
        border-radius: 0.5rem;
      }
    }

    // 1-1-2. main-contents: '메인 페이지'의 '삼승 CEAS' 소개 내용
    .main-contents{                            
      opacity: 0;
      animation: smoothAppear 1s forwards;
      animation-delay: 1s;

      margin-top: 70px;

      font-size: 1.5rem;
      text-align: center;
      color: #282c34;
    }

    // 1-1-3. group-information: '메인 페이지'의 '그룹 정보' 소개
    .group-informtaion{
      opacity: 0;
      animation: smoothAppear 1s forwards;
      animation-delay: 2.0s;

      margin: 15px 0;

      text-align: center;
      
      // 1-1-3-1. group-leader-information: '메인 페이지'의 '그룹 리더' 소개
      .group-leader-information{
        margin-bottom: 5px;
        margin-top: 50px;

        font-size: 1.5rem;
        font-weight: bold;

        color: midnightblue;
      }
      
      a{
        font-size: 1.5rem;
        margin: 0 10px;
      }
    }
  }