@keyframes smoothAppear {
  /* from: 0% 구간 */  
  from {
    opacity: 0;                    // opacity: '불투명도' 설정
    transform: translateY(-5%);    // transform: '부드러운 이동 효과' 설정, translateY: 'y축' 방향으로 이동
  }

  /* to: 100% 구간 */
  to {
    opacity: 1;                    // opacity: '불투명도' 설정
    transform: translateY(0);      // transform: translateY: '현재 위치'부터 'y축 방향'으로 이동
  }
}


.myinfo-wrapper{
  box-sizing: content-box;
  width: 800px;

  opacity: 0;
  animation: smoothAppear 1s forwards;
  animation-delay: 0.5s;
  font-family: 'Noto Sans KR', sans-serif;

  overflow-y: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -650px;
  margin-left: 400px;

  .change-password-header{
    font-size: 32px;
    text-align: center;
    font-weight: bold;

    margin-top: -80px;
  
    .change-password-header_image{
      box-sizing: content-box;
      width: 80px;
      height: 75px;
    
      border-radius: 0.5rem;
  
      img{
        width: 100px;
        height: 50px;
    
        border-radius: 0.5rem;
    
        cursor: pointer;
      }
    }
  
    .change-password-header_title{
      margin-top: 15px;
    }
  }

  .myinfo-content{
    display: flex;
    align-items: center;
    font-Size: 10px;

    font-weight: bolder;

    .change-password{
      padding: 3rem;
      border-radius: 10px;

      .error-message{
        font-size: 0.75rem;
        color: blueviolet;
      }

      .change-password-wrapper{
        overflow-y: hidden;

        .input-form{
          width: 29rem;

          .error-message{
            color: blue;
          }
        }
      }
    }
  }

}